.App {
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-size: 1024px;
  background-repeat: repeat;
  padding-top: 30px;
  padding-bottom: 40px;
}