.ui.form {
    width: 450px;
    background: white;
    padding: 20px;
    box-shadow: 3px 3px 5px 6px #F0F3F4;
    margin-bottom: 30px;
    margin-top: 30px;

    .ui.button {
        margin: 10px;
    }

    .field>label {
        font-size: 1.2rem;
        margin-bottom: 10px;
    }

    p:last-child {
        color: red;
    }
}